<h1>Edit Tweet</h1>

<form method="post" action="/tweets">
<input id="hidden" type="hidden" name="_method" value="patch"><br>
Content: <input type="text" name="content" id="content"><br>
<input type="submit" id="submit" value="Edit Tweet">
</form>
