<h1>Login In</h2>

<form method="post" action="/login">
  Username: <input type="text" name="username"></br>
  Password: <input type="text" name="password"><br>
  <input type="submit" id="submit" name="submit" value="Log In">
</form>
